
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6;
}

#course-title {
    font-family: 'Lilita One', cursive;
    display: block;
    text-align: center;
}

header {
    background-color: #1f4e6b;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px;
    display: block;
}

nav a:hover {
    background-color: #444;
    color: #ffd700;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}


h1 {
    margin-bottom: 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.card h3 {
    background-color: #1f4e6b;
    color: white;
    padding: 10px;
    margin: -15px -15px, 15px, 15px;
    margin-top: 10px;
    text-align: center;
}

.about {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 15px;
}

.about img {
    width: 180px;
}

.country {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;
    margin-top: 10px;
}

.country img {
    width: 100px;
}

.card ul {
    padding-left: 20px;
}

.card li {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    background: #1f4e6b;
    color: white;
    text-align: center;
    padding: 15px;
}

#lastModified {
    color: yellow;
    font-size: 0.9rem;
}



