@media (min-width:768px) {

    body {
        align-items: center;
    }

    .card {
        width: 400px;
    }

    .section {
        text-align: left;
        padding: 20px;
     }

    .image img {
        height: 300px;
        object-fit: cover;
    }
}