@media (min-width:768px) {
        .page {
        max-width: 400px;
    }

    .card {
        width: 400px;
    }

    .weather-icon {
        display: flex;
    }

    #weather-title::after {
        content: "";
    }

}